<!DOCTYPE html>
{% load static %}
<html lang="en">
{%  include "base/headData.html" %}

<body>
{% include "base/NavBar.html" with sources=AllSources%}

<main>
    {% include "base/intro.html" %}
    {% include "base/paginator.html" with items=allData %}

    <h3 class="center" style="padding: 1em 0 2em 0">Data from {{ source }}</h3>

    <div class="row">
        {% for phone in allData %}
            <div class="col s3">
                {% include "mobile/cardItems.html" with phone=phone %}
            </div>
        {% endfor %}
    </div>

    {% include "base/paginator.html" with items=allData source=source%}
</main>

{% include "base/footer.html" %}
</body>
</html>