<div class="container" style="padding: 1em 0 1em 0">
    <h1 style="text-align: center">Tu Anh Electronics Scraper</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">compare</i>
                <p>Multiple Sources</p>
                <p class="light center">Compare prices from different sources</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: skyblue">flash_on</i>
                <p>Latest data</p>
                <p class="light center">Always the newest, freshest data</p>
            </div>
        </div>
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: dimgray">history</i>
                <p>Search History</p>
                <p class="light center">Get your search history</p>
            </div>
        </div>
    </div>
</div>