<dib class="pagination right" style="padding: 1em 2em 0 0">
    {% if items.has_previous %}
        <li class="waves-effect"><a href="{% url 'mobile:all_mobiles' source 1%}"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect"><a href="{% url 'mobile:all_mobiles' source items.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
    {%  else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i><i class="material-icons">chevron_left</i></a></li>
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for num in items.paginator.page_range %}
        {% if items.number == num %}
            <li class="active"><a href="{% url 'mobile:all_mobiles' source num%}">{{ num }}</a></li>
        {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
            <li class="waves-effect"><a href="{% url 'mobile:all_mobiles' source num%}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    {% if items.has_next %}
        <li class="waves-effect"><a href="{% url 'mobile:all_mobiles' source items.next_page_number%}"><i class="material-icons">chevron_right</i></a></li>
        <li class="waves-effect"><a href="{% url 'mobile:all_mobiles' source items.paginator.num_pages %}"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</dib>